/*-------------SECTION-1------------------------------------------------*/
.section-1{
    background-image: url(../img/textura_2.jpg);
}
.section-1 h3{
    text-align: center;
    color: #192951;
    margin: 100px 0 80px 0;
    font-weight: bolder;
}
section img {
    width: 280px;
    height: 250px;
    padding: 0;
}
.block-1, .block-2, .block-3 {
    height: 250px;
    margin: 0 0 50px;
}
.section-1 p, h4{
    margin: 18px 0;
}
.parg{
    background: #ccc;
    height: 250px;
}
.section-1 h4{
    font-weight: bold;
}
.section-1 span{
    color: #919191;
}

/*-------------FOOTER------------------------------------------------*/
