/* Inserta tu codigo aqui */
*{
    outline: 1px solid black;
}

/*----segunda pagina---*/
.hero{
    background-image: url(../img/dance_7.jpg);
    height: 400px;
}
.hero .sobre-nosotros{
    
}
.sobre-nosotros{
    background-color: rgb(44,43,43); opacity: 0.5;
    color: white;
    vertical-align: baseline;
    width: 40%;
    margin: 100px 200px;
}
