/* Inserta tu codigo aqui */
*{
    outline: 1px solid black;
}

/*----segunda pagina---*/
.hero{
    background-image: url(../img/dance_7.jpg);
    height: 400px;
}
.hero .sobre-nosotros{
    height: 200px;
    width: 100%;
    display: table;
}
