/* Inserta tu codigo aqui */
*{
    outline: 1px solid black;
}

/*----segunda pagina---*/
.hero{
    background-image: url(../img/dance_7.jpg);
    height: 450px;
}
.hero .sobre-nosotros{
    
}
.sobre-nosotros{
    background-color: rgb(44,49,47); opacity: 0.5;
    color: white;
    vertical-align: baseline;
    width: 40%;
    height: 200px;
    margin: 200px 250px;
}
.sobre-nosotros h2{
    text-align: center;
    padding-top: 40px;
}
.sobre-nosotros p{
    text-align: center;
    margin: 20px
}
.pilar{
    background-image: url(../img/cubes.png);
    height: 350px;
}
